# Auto detect text files and perform LF normalization
* text=auto

Jag gillar att laga mat, framförallt höstiga långkoksgrytor!
Jag gillar att baka också, men att laga mat är roligare då jag kan vara mer kreativ.